.checkout_ad {
    height: 100px;
    width: 100%;
}

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_right {
    margin-left: 30px;    
}

.checkout_leftUser {
    margin-left: 10px;
}