/* .checkoutProduct {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    max-width: 200px;
    z-index: 1;
}

.checkoutProduct_price {
    margin-top: 5px;
}

.checkoutProduct_info {

    height: 100px;
    margin-bottom: 15px;
    width:100%;
}

.checkoutProduct > button {
    background: #f0c14b;
    font-size: 15px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    padding: 20px;
}

.checkoutProduct_rating {
    display: flex;
} */

.checkoutProduct {
    display: flex;
    /* flex-direction: column; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info {
    padding-left: 20px;
    /* flex-direction: row; */
}

.checkoutProduct_info > button {
    background: #f0c14b;
    font-size: 15px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct_image {
    width: 180px;
    object-fit: contain;
    height: 180px;
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}